@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #050027;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


li {
  list-style: none;
}

/* Loading Page Config */
.LinearProgress {
  margin-top: 48vh;
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MainPage Fadein */
@keyframes fadein {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 1;
  }
}

/* Header */
.Header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e7e7;
  color: #0C0C0D;
  animation: fadein 2s;
  border-bottom: 4px solid #313638;
}

.PageTitle {
  font-size: max(2.5vw, 44px);
  font-weight: 400;
}

.HeaderMenuBlock {
  display: flex;
  justify-content: center;
}

.ENJPChange {
  font-size: 24px;
  margin-right: 20px;
  color: #666666;
}

.HeaderMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeaderMenuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #050027;
  width: fit-content;
  padding-left: 16px;
  padding-right: 16px;
  height: 60px;
  font-size: 32px;
  border-bottom: 2px solid #313638;
}

.HeaderMenuButton:hover {
  transition: all 0.3s ease;
  background-color: #313638;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.HeaderMenuButtonTitle {
  text-decoration: none;
}


/* HomePage  */
.LoadedMain {
  margin-top: 60px;
  width: 100vw;
  background-color: #fff;
  animation: fadein 2s;
}

.picturetitle {
  position: relative;
  width: 100vw;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.HomeTitle {
  position: absolute;
  margin-top: 0;
  top: 0px;
  left: 20px;
  font-size: 120px;
  color: #FFF;
  font-weight: normal;

}

.worktitle {
  position: absolute;
  margin-bottom: 0;
  bottom: 20px;
  left: 20px;
  font-size: 64px;
  color: #FFF;
}

/* MainPage */
.CategoryWrapper {
  margin-left: 10%;
  margin-right: 10%;
}

.DivTitle {
  margin-top: 20px;
  font-size: 64px;
}

.DivSecondTitle {
  font-size: 42px;
}

.Divbodytext {
  font-size: 28px;
}

.WorkTileContainer {
  margin-top: 20px;
  margin-left: 0%;
  margin-right: 0%;
  display: flex;
  justify-content: flex-start;
  gap: 80px;
}

.WorkTile {
  position: relative;
  width: 36vw;
}

.WorkTileImg {
  border-radius: 10px;
}

.WorkTileTitle {
  position: absolute;
  inset: auto auto 10px 20px;
  margin: 0;
  font-size: 36px;
  color: #FFF;
}

.DivSectionTitle {
  font-size: 36px;
}

.SkillsWrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 36px;
}

.SkillsCategoryWrapper {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/* Modal */
.modal-overlay {
  z-index: 170;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  z-index: 180;
  background-color: white;
  padding: 0 40px;
  border-radius: 8px;
  position: relative;
  width: 90vw;
  height: 90vh;
  overflow-y: auto;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.ModalHeader {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 12px;
  font-size: 24px;
  background-color: #fff;
  z-index: 100;
}

.ModalTitle {
  font-size: 60px;
}

.ModalYearMenu {
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: baseline;
}

.ModalYearMenu:not(:first-child) {
  margin-top: 24px;
}

.ModalYear {
  font-size: 48px;
}

.ModalYearButton {
  font-size: 24px;
  color: #444444;
}


.WorkArticle {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  position: relative;
  margin-top: 24px;
  gap: 20px;
  margin-right: 0;
}

.WorkArticle:nth-of-type(n+2) {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 24px;
  gap: 20px;
  margin-right: 0;
  }

.ModalArticleImg {
  max-width: 58vw;
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.WorkArticleDetails {
  margin-left: 20px;
}

.ModalWorkTitle {
  line-height: 100%;
  font-size: 36px;
}

.ModalWorkDetails {
  color: #0e0e0e;
  margin-top: 8px;
  font-size: 20px;
  overflow-wrap: break-word;
}

.UsedSoftwareTitle {
  margin-top: 12px;
  font-size: 24px;
}

.UsedSoftware {
  margin-left: 4px;
  font-size: 20px;
  color: #0e0e0e;
  list-style: inside;
  list-style-type: disc;
}

.ModalWorkLink {
  position: absolute;
  right: 0;
  margin-top: 20px;
  font-size: 20px;
  color: #444444;
}

.Large {
  display: none;
}

/* Footer */
.Footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e7e7e7;
}

.FooterTitle {
  font-size: 28px;
}

.FooterText {
  font-size: 22px;
}

.FooterContainer {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.FooterInnerContainer {
  display: flex;
  justify-content: start;
  gap: 10vw;
  width: 70%;
}

.FooterProfile {
  margin-left: 0;
}

.FooterNav {
  display: flex;
  justify-content: start;
  gap: 6vw;
}


.SnsLogos {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.FooterIcons {
  justify-content: flex-end;
}

.Top {
  display: flex;
  justify-content: end;
}

.copyright {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Top {
  width: 55px;
  height: 55px;
}

@media screen and (max-width: 1200px) {
  .PageTitle {
    font-size: 28px;
    white-space: nowrap;
    margin-right: 24px;
  }

  .ENJPChange {
    font-size: 24px;
    white-space: nowrap;
  }

  .HeaderMenu {
    gap: 12px;
    width: 70vw;
  }

  .HeaderMenuButton {
    font-size: 24px;
  }

  .HomeTitle {
    font-size: 8vw;
  }

  .worktitle {
    font-size: 4.5vw;
  }

  .DivTitle {
    font-weight: 500;
    font-size: 48px;
  }

  .DivSecondTitle {
    font-size: 40px;
  }

  .DivSectionTitle {
    font-size: 32px;
  }

  .Divbodytext {
    font-size: 26px;
  }

  .CategoryWrapper {
    margin-left: 4%;
    margin-right: 4%;
  }

  .WorkTileContainer {
    gap: 2.5vw;
  }

  .WorkTileTitle {
    position: absolute;
    display: flex;
    justify-content: start;
    inset: auto auto 2px 4px;
    margin-left: 0;
    width: 34vw;
    font-size: 28px;
  }

  .modal-content {
    margin-left: 2%;
    margin-right: 2%;
    width: 96vw;
  }

  .ModalGuide {
    font-size: 32px;
    color: #7a7a7a;
  }

  .modal-close {
    font-size: 32px;
    color: #7a7a7a;
  }

  .WorkArticle {
    display: grid;
    position: relative;
  }

  .WorkArticle:nth-of-type(n+2) {
    display: grid;
  }

  .ModalArticleImg {
    max-width: 96vw;
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .ModalWorkTitle {
    font-size: 48px;
  }

  .ModalWorkDetails {
    font-size: 32px;
  }

  .UsedSoftwareTitle {
    font-size: 40px;
  }

  .UsedSoftware {
    font-size: 32px;
  }

  .ModalWorkLink {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 32px;
  }

  /* aaa */
}

@media screen and (max-width: 768px) {
  .Header {
    height: 54px;
    padding-left: 10px;
  }

  .PageTitle {
    font-size: 32px;
  }

  .ENJPChange {
    font-size: 20px;
    margin-right: 0;
  }

  .HeaderMenu {
    display: none;
  }

  .LoadedMain {
    margin-top: 54px;
  }

  .HomeTitle {
    left: 10px;
  }

  .worktitle {
    left: 10px;
    bottom: 5px;
  }

  .CategoryWrapper {
    margin-left: 2%;
    margin-right: 5%;
  }

  .DivTitle {
    margin-top: 10px;
    font-size: 32px;
  }

  .DivSecondTitle {
    font-size: 24px;
  }

  .Divbodytext {
    font-size: 16px;
    text-wrap: balance;
  }

  .WorkTileContainer {
    gap: 5px;
  }

  .WorkTileTitle {
    font-size: 18px;
    text-align: left;
    line-height: 100%;
    margin-bottom: 2px;
  }

  .DivSectionTitle {
    font-size: 20px;
  }

  .Footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .FooterContainer {
    margin: 0 10px;
  }

  .FooterNav {
    display: none;
  }

  .VercelLogo {
    display: flex;
    justify-content: start;
    margin-left: 10px;
    width: 150px;
  }

  .copyright {
    font-size: 12px;
  }

  /* Modal */
  .ModalGuide {
    font-size: 16px;
  }

  .modal-close {
    font-size: 16px;
  }

  .ModalTitle {
    font-size: 32px;
  }

  .ModalYearWrapper {
    margin-top: 24px;
  }

  .ModalYear {
    font-size: 24px;
  }

  .ModalYearButton {
    font-size: 18px;
  }

  .WorkArticle {
    display: block;
    position: relative;
    margin-top: 12px;
    text-align: left;
  }
  
  .WorkArticle:nth-of-type(n+2) {
    display: block;
    margin-top: 12px;
    text-align: left;
    }

  .Large {
    display: none;
  }

  .ModalWorkTitle {
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
    margin-top: 0;
  }

  .ModalWorkDetails {
    font-size: 16px;
    overflow-wrap: break-word;
    line-height: 110%;
  }

  .UsedSoftwareTitle {
    font-size: 20px;
    margin-top: 6px;
  }

  .UsedSoftware {
    font-size: 16px;
    line-height: 110%;
  }

  .ModalWorkLink {
    position: absolute;
    bottom: -24px;
    font-size: 16px;

  }
}